@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #00796B;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#container {
    margin: auto;
    width: 70%;
}

#villeEtDate {
    margin-top: 50px;
    text-align: center;
}

.btn-light {
    border-radius: 20px;
    color: #00796B;
}

#date {
    margin-bottom: 50px;
    margin-top: 40px;
}

#divInformations {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#temperature {
    font-size: 150px;
    margin-right: 80px;
}

#longitude {
    margin-right: 100px;
}

@media (max-width: 768px){
	#position {
		text-align: center;
	}
	#divInformations {
		display: block;
		margin-bottom: 40px;
	}
	#divTemperature {
		text-align: center;
	}
	#temperature {
		margin: 0;
	}
	#informations {
		text-align: center;
	}
}

@media (max-width: 480px){
	#longitude {
		margin-right: 20px;
	}
}